#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
}

.card {
  padding: 2em;
}

.grid-container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  gap: 2rem;
}

.gridShowData {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 768px){
  .gridShowData {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .grid-container {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
  }
}

@media (max-width: 468px){
  .gridShowData {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-container {
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-rows: auto;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;
  text-align: center;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}


.product h5 {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.product h4 {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.product button {
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product button:hover {
  background-color: #005fa3;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -00px;
  width: 300px;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.sidebar.active {
  right: 0;
}

.divCartButton {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 2px;
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
}

.cartItemCount {
  position: absolute;
  top: 25px;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid red;
}


.cartButton:hover {
  background-color: #00a5e0;
  transform: scale(1.04);
}

.gridShowCarrito{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.LinkShowData {
  position: relative;
}

.LinkShowData .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.LinkShowData:hover .overlay {
  opacity: 1;
}

.LinkShowData .overlay p {
  color: #fff;
  font-size: 24px;
}

.inputCarrito::-webkit-outer-spin-button,
.inputCarrito::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputCarrito[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.inputCarrito{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}